.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 80px 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

.new-collections h1 {
  font-size: 50px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.new-collections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
  border: none;
}

.collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  margin-top: 50px;
  box-sizing: border-box;
}

.collections img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
