.footer {
  padding: 20px 0;
  text-align: center;
  width: 90%;
  margin: 10px auto;
  
  border-radius: 10px;
}

.footer-logo img {
  max-width: 100px;
  color: white;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-social-icons {
  margin: 20px 0;
}

.footer-icons-container {
  display: flex;
  justify-content: center;
}

.footer-icons-container a {
  margin: 0 10px;
}

.footer-copyright {
  margin-top: 20px;
}

.footer-copyright p {
  color: #777;
  font-size: 14px;
}
.footer-links a {
  color: #333;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-social-icons a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}
.footer-social-icons a:hover {
  color: #555;
}
