.newsletter {
  width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.newsletter h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.newsletter input[type="email"] {
  width: 40%;
  padding: 18px 18px;
  border: 1px solid #ddd;
  border-radius: 25px;
  margin-right: 10px;
  font-size: large;
}

.newsletter button {
  padding: 18px 40px;
  background: #ff4141;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: large;
}

.newsletter button:hover {
  background: #2150df;
}
